.c-figures {
    position: relative;

    height: 500px;
    margin-top: -150px;
}

.c-figures__figure--left {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 320px;
    margin-right: auto;

    transform: skewY(10deg);
    transform-origin: left top;

    background: #161621;
}

.c-figures__figure--right {
    display: flex;
    width: 100%;
    height: 320px;

    transform: skewY(-10deg);
    transform-origin: right top;

    background: #1e1e2b url(../img/figure-bg.jpg) no-repeat center/cover;

    align-items: center;
    justify-content: center;
}

.figure--right__inner {
    z-index: 4;

    display: flex;
    margin-left: 50px;

    transform: skewY(10deg);
}

.rhomb {
    display: flex;
    width: 100px;
    height: 100px;
    margin-right: 50px;

    cursor: pointer;
    transition: .5s;
    transform: rotate(45deg);
    text-align: center;
    text-transform: uppercase;

    color: white;
    border: solid 2px #51525b;
    border-radius: 20%;
    background: transparent;

    align-items: center;
    justify-content: center;
}

@media (max-width:580px) {
    .rhomb {
        margin-right: 40px;
    }
}

@media (max-width:480px) {
    .rhomb {
        margin-right: -10px;
    }

    .figure--right__inner {
        margin-left: 0;
    }
}

.rhomb:nth-of-type(2) {
    z-index: 4;

    border: solid 2px #cb4040;
    background: #cb4040;
}

.rhomb:hover {
    background: #51525b;
}

.rhomb:nth-of-type(2):hover {
    border: solid 2px #cb4040;
    background: transparent;
}

.rhomb a {
    display: inline-block;
    padding: 25px;

    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;

    transform: rotate(-45deg);
}
