.c-header {
    z-index: 1;

    display: flex;
    height: 100vh;
    min-height: 654px;

    background: #101017 url(../img/header-bg.jpg) no-repeat center/cover;

    align-items: center;
}

.c-header svg {
    fill: #cb4040;
}

.c-header__content {
    z-index: 2;

    display: flex;
    flex-direction: column;

    text-align: center;

    align-items: center;
    justify-content: center;
}

@media (max-width:760px) {
    .c-header__content {
        font-size: 75%;
    }
}

@media (max-width:580px) {
    .c-header__content {
        font-size: 55%;
    }
}

@media (max-width:480px) {
    .c-header__content {
        font-size: 40%;
    }
}

.c-header__logo {
    height: 103px;
    margin-bottom: 3em;
}

@media (max-width:760px) {
    .c-header__logo {
        height: 80px;
    }
}

@media (max-width:580px) {
    .c-header__logo {
        height: 65px;
    }
}

@media (max-width:480px) {
    .c-header__logo {
        height: 55px;
    }
}

.c-header__h1 {
    font-size: 7.2em;
    font-weight: 800;

    text-transform: uppercase;

    color: white;
}

.c-header__h2 {
    margin-top: 2em;

    font-family: Merriweather, serif;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 300;

    color: #cad9e3;
}

.arrow {
    width: 50px;
    height: 50px;
    padding-top: 3em;

    fill: #1e1f2b !important;
}

@media (max-width:760px) {
    .c-header__h2 {
        font-size: .9rem;
    }
}

@media (max-width:580px) {
    .c-header__h2 {
        font-size: .8rem;
    }
}
