.c-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;
    height: 80px;

    transition: .3s;

    will-change: transform;
}

.c-navbar.is-hidden {
    transform: translateY(-100%);
}

.c-navbar.is-below {
    background-color: #161621;
}

.c-navbar::after {
    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    width: 100%;
    height: 50%;

    content: "";
}

.c-navbar:hover {
    transition-delay: .3s;
    transform: none;
}

.c-navbar__inner {
    display: flex;
    height: 80px;

    align-items: center;
}

.c-navbar__logo svg {
    height: 30px;
    padding-bottom: .3em;
}

.c-navbar__tel {
    padding-left: 1.2em;

    font-size: 1.8em;
    font-weight: 700;

    text-decoration: none;

    color: #565560;
}

@media (max-width:720px) {
    .c-navbar__tel {
        display: none;
    }
}

.c-navbar__list {
    display: flex;
    margin-left: auto;
}

.c-navbar__list a {
    display: inline-block;
    padding: 0 20px;

    font-size: 1.4em;
    font-weight: 400;
    line-height: 80px;

    transition: .3s;
    text-decoration: none;

    color: rgba(255, 255, 255, .6);
}

.c-navbar__list a:hover {
    color: #fff;
}

.c-navbar__list li:last-of-type a {
    padding-right: 0;
}
