.c-section4 {
    display: flex;
    height: 350px;
    padding: 10em 1em 0 1em;

    background: #272731;
}

.c-section4__inner {
    display: flex;

    align-content: center;
    flex-basis: 100%;
}

.c-section4__content--left {
    padding: 0 5em 3em 0;

    flex-basis: 40%;
}

.c-section4__content--left__h1 {
    padding: .2em 0 .8em 0;

    font-size: 5.2em;
    font-weight: 800;

    text-transform: uppercase;

    color: #fff;
}

.c-section4__content--left__h2 {
    padding-bottom: 1em;

    font-family: "Merriweather", serif;
    font-size: 1.8em;
    font-weight: 300;

    color: #bfbfc2;
}

.c-section4__content--right {
    display: flex;

    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.c-section4__col {
    display: flex;
    padding: 0 .5em;
    flex-direction: column;
    box-sizing: border-box;

    flex-basis: 33.333%;
}

.c-section4__col__h3 {
    padding: .8em 0 .5em 0;

    font-size: 1.6em;

    color: #cad9e3;
}

@media (max-width:1020px) {
    .c-section4__col {
        flex-basis: 50%;
    }
}

@media (max-width:800px) {
    .c-section4__col {
        flex-basis: 100%;
    }

    .c-section4__inner {
        padding: 0;
        flex-direction: column;
    }

    .c-section4__content--right {
        flex-direction: column;
    }

    .c-section4__content--left {
        padding: 0 0 3em 0;

        text-align: center;
    }

    .c-section4__content--left__h1 {
        font-size: 3em;
    }
}

@media (max-width:480px) {
    .c-section4__content--right {
        flex-direction: row;
    }

    .c-section4__col {
        height: 150px;
    }

    .c-section4 {
        height: 100%;
        padding: 5em 1em 4em 1em;
    }
}

.rect {
    height: 100%;

    background: #3c3c45;
}
