/*section4*/
.c-section4 {
  display: flex;
  background: #272731;
  height: 350px;
  padding: 5em 1em 0 1em;
}

.c-section4__inner {
  display: flex;
  flex-basis: 100%;
  align-content: center;
}

.c-section4__content {
  flex-basis: 40%;
  padding: 0 5em 3em 0;
}

.c-section4-h1 {
  font-size: 5.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  padding: 0.2em 0 .8em 0; 
}

.c-section4-h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.8em;
  color: #bfbfc2;
  padding-bottom: 2em;
}

.c-section4__right {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.c-section__right-h3 {
  font-size: 1.6em;
  color: #cad9e3;
  padding: 0.8em 0 0.5em 0;
}

.s4-col {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333%;
  padding: 0 1em;
  box-sizing: border-box;
}

@media (max-width: 1020px) {
  .s4-col {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  .s4-col {
    flex-basis: 100%;
  }

  .c-section4__inner {
    flex-direction: column;
    padding: 0;
  }
  .c-section4__right {
    flex-direction: column;
  }
 .c-section4__content {
    text-align: center;
    padding: 0 0em 3em 0;
  }
 .c-section4-h1 {
   font-size: 3em;
  }
}

@media (max-width: 480px) {
  .c-section4__right {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  }
  .s4-col {
    height: 150px;
}
.c-section4 {
  height: 100%;
  padding: 5em 1em 4em 1em;
 }
}

.rect {
  background: #3c3c45;
  height: 100%;
}