.c-section1 {
    display: flex;
    padding-bottom: 15em;
}

.c-section1__inner {
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-direction: column;

    text-align: center;

    align-items: center;
    justify-content: center;
}

.c-section1__h1 {
    font-size: 3.6em;
    font-weight: 800;
    line-height: 50px;

    text-transform: uppercase;

    color: #222;
}

.c-section1__h2 {
    max-width: 700px;
    padding: 20px 0;

    font-family: Merriweather, serif;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 30px;

    color: #444;
}

.c-section1__p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 25px;

    color: #777;
}
